/* medium break point is >= 768 */

:root {
  --darkest: #0C2A4A;
  --dark: #1E234F;
  --main: #FF6000;
  --lighter: #0D4570;
  --lightest: #F5F0EF;
}

header {
  font-family: 'Geologica', sans-serif;
}

/* SECTION BACKGROUND COLORS */
.bg-darkest {
  background-color: var(--darkest);
}

.bg-darker {
  background-color: var(--dark);
}

.bg-main {
  background-color: var(--main);
}

.bg-lighter {
  background-color: var(--lighter);
}

.bg-lightest {
  background-color: var(--lightest);
}

/* SECTION TEXT COLORS */
.text-main {
  color: var(--main);
}

.text-lightest {
  color: var(--lightest);
}

.text-darkest {
  color: var(--darkest);
}

.text-lighter {
  color: var(--lighter)
}

.logo-img {
  height: 50px;
  width: 50px;
}

.announcer-icon {
  height: 100px;
  width: 100px;
}

.header-bg-img {
  background-image: url(https://i.pinimg.com/564x/28/ef/1a/28ef1a03ecbcccfd06494729d5124932.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 50vh;
  max-height: 120vh;
}

.text-shadow {
  text-shadow: white 1px 0 10px;
}

.cancel-shadow {
  text-shadow: black 1px 1px;
}

.floating-card {
  position: revert;
}

.minor-card {
  min-height: 55vh;
  max-height: 65vh;
}

.major-card {
  min-height: 65vh;
  max-height: 80vh;
}

@media (min-width: 768px) {
  .floating-card {
    position: absolute;
    width: 50vw;
    top: 15%;
    right: 4%;
  }
}

.header-link {
  text-decoration: none;
}

.header-link:hover {
  scale: 102%;
}

.button-header {}

.button-header:hover {
  scale: 102%;
}

.box-header {
  box-shadow: 2px 2px 5px black;
}

.box-card {
  border-radius: 15px;
  box-shadow: 2px 2px 5px black;
}

.box-card:hover {
  scale: 102%;
}

.main-image {
  max-width: 100%;
  min-height: 40vh;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 5px;
}

.main-video {
  max-width: 100%;
  min-height: 60vh;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 5px;
}